<h1>New athlete</h1>

<%= form_for @athlete, :url => athletes_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :photo %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', athletes_path %>
